<aside>
    <div class='container categories'>
        <h2>カテゴリ</h2>
        <div class="row">
            <b:section id='aside1-1' preferred='yes' showaddelement='yes'>
                <b:widget id='HTML5' locked='false' title='洗い張り' type='HTML'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <data:content/>
                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
                <b:widget id='HTML8' locked='false' title='イベント' type='HTML'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <data:content/>
                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
                <b:widget id='HTML9' locked='false' title='花・本・考えごと' type='HTML'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <data:content/>
                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
            </b:section>
        </div>
        <div class="row">
            <b:section id="aside1-2" preferred='yes' showaddelement='yes'>
                <b:widget id='HTML10' locked='false' title='食・酒・料理' type='HTML'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <data:content/>
                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
                <b:widget id='HTML11' locked='false' title='ばあちゃんの着こなし' type='HTML'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <data:content/>
                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
            </b:section>
        </div>
    </div>

    <div class="container static-pages">
        <div class="row">
            <b:section id='aside2' preferred='yes' showaddelement='yes'>
                <b:widget id='HTML7' locked='false' title='お客様ブログ' type='HTML'>
                    <b:includable id='main'>
                        <div class="col-sm-6">
                            <!-- only display title if it's non-empty -->
                            <b:if cond='data:title != &quot;&quot;'>
                                <h2 class='title'>
                                    <data:title/>
                                </h2>
                            </b:if>
                            <data:content/>

                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
                <b:widget id='HTML6' locked='false' title='ランチマップ' type='HTML'>
                    <b:includable id='main'>
                        <div class="col-sm-6">
                            <!-- only display title if it's non-empty -->
                            <b:if cond='data:title != &quot;&quot;'>
                                <h2 class='title'>
                                    <data:title/>
                                </h2>
                            </b:if>
                            <data:content/>

                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
            </b:section>
        </div>
    </div>

    <div class="container archives">
        <div class="row">
            <b:section id='aside3' preferred='yes' showaddelement='yes'>
                <b:widget id='Feed1' locked='false' title='最近のコメント' type='Feed'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <!--
                            <script id="getBlogFeed" defer="" async="" src="//blog.darumaya-gofuku.jp/feeds/posts/comment?alt=json-in-script&amp;callback=blogFeed&amp;max-results=5"></script>
                            http://blog.darumaya-gofuku.jp/feeds/comments/summary?alt=json-in-script&amp;callback=blogFeed&amp;max-results=5
                            -->
                            <b:if cond='data:title != &quot;&quot;'>
                                <h2 class='title'>
                                    <data:title/>
                                </h2>
                            </b:if>
                            <div class='widget-content' expr:id='data:widget.instanceId + &quot;_feedItemListDisplay&quot;'>
                                <a expr:href='data:feedUrl'>
                                    <data:loadingMsg/>
                                </a>
                            </div>
                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
                <b:widget id='Label1' locked='false' title='タグ別' type='Label'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <b:if cond='data:title != &quot;&quot;'>
                                <h2>
                                    <data:title/>
                                </h2>
                            </b:if>
                            <div class="panel panel-default">
                                <div class="list-group">
                                    <b:loop values='data:labels' var='label' index='index'>
                                        <b:if cond='data:index &lt; 5'>
                                            <a expr:href='data:label.url' class="list-group-item">
                                                <data:label.name/>
                                                <b:if cond='data:showFreqNumbers'>
                                                    <span class="badge"><data:label.count/></span>
                                                </b:if>
                                            </a>
                                        </b:if>
                                    </b:loop>

                                    <div class="collapse collapse-group" id="collapse-categories">
                                        <b:loop values='data:labels' var='label' index='index'>
                                            <b:if cond='data:index &gt;= 5'>
                                                <a expr:href='data:label.url' class="list-group-item">
                                                    <data:label.name/>
                                                    <b:if cond='data:showFreqNumbers'>
                                                        <span class="badge"><data:label.count/></span>
                                                    </b:if>
                                                </a>
                                            </b:if>
                                        </b:loop>
                                    </div>
                                </div>
                                <a class="panel-footer collapsed text-center" data-toggle="collapse" href="#collapse-categories">
                                    <span class="collapse-label-show">すべてを表示</span>
                                    <span class="collapse-label-hide">一部のみを表示</span>
                                </a>
                            </div>

                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
                <b:widget id='BlogArchive1' locked='false' title='月別' type='BlogArchive'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <b:if cond='data:title != &quot;&quot;'>
                                <h2>
                                    <data:title/>
                                </h2>
                            </b:if>
                            <b:if cond='data:style == &quot;HIERARCHY&quot;'>
                                <div class="list-group">
                                    <b:include data='data' name='interval'/>
                                </div>
                            </b:if>
                            <b:include cond='data:style == &quot;FLAT&quot;' data='data' name='flat'/>
                            <b:include cond='data:style == &quot;MENU&quot;' data='data' name='menu'/>
                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                    <b:includable id='flat' var='data'>
                        <ul class='flat'>
                            <b:loop values='data:data' var='i'>
                                <li class='archivedate'>
                                    <a expr:href='data:i.url'>
                                        <data:i.name/>
                                    </a> (
                                    <data:i.post-count/>
                                    )
                                </li>
                            </b:loop>
                        </ul>
                    </b:includable>
                    <b:includable id='interval' var='intervalData'>
                        <b:loop values='data:intervalData' var='interval'>
                            <b:if cond='data:interval.toggleId'>
                                <a expr:href='&quot;#collapse-&quot; + data:interval.toggleId' data-toggle="collapse" expr:class='&quot;list-group-item&quot; + (data:interval.expclass == &quot;expanded&quot; ? &quot;&quot; : &quot; collapsed&quot;)'>
                                    <span class="collapse-label-show glyphicon glyphicon-chevron-down"></span>
                                    <span class="collapse-label-hide glyphicon glyphicon-chevron-up"></span>
                                    <data:interval.name/>
                                    <span class="badge">
                                        <data:interval.post-count/>
                                    </span>
                                </a>
                                <div expr:class="&quot;collapse-group collapse&quot; + (data:interval.expclass == &quot;expanded&quot; ? &quot; in&quot; : &quot;&quot;)" expr:id='&quot;collapse-&quot; + data:interval.toggleId'>
                                    <b:include cond='data:interval.data' data='interval.data' name='interval'/>
                                </div>

                                <b:else/>

                                <a expr:href='data:interval.url' class='list-group-item'>
                                    <data:interval.name/>
                                    <span class="badge">
                                        <data:interval.post-count/>
                                    </span>
                                </a>
                            </b:if>
                        </b:loop>
                    </b:includable>
                    <b:includable id='menu' var='data'>
                        <select expr:id='data:widget.instanceId + &quot;_ArchiveMenu&quot;'>
                            <option value=''>
                                <data:title/>
                            </option>
                            <b:loop values='data:data' var='i'>
                                <option expr:value='data:i.url'>
                                    <data:i.name/>
                                    (
                                    <data:i.post-count/>
                                    )
                                </option>
                            </b:loop>
                        </select>
                    </b:includable>
                    <b:includable id='posts' var='posts'>
                        <ul class='posts'>
                            <b:loop values='data:posts' var='post'>
                                <li><a expr:href='data:post.url'>
                                    posts <data:post.title/>
                                </a></li>
                            </b:loop>
                        </ul>
                    </b:includable>
                </b:widget>
            </b:section>
        </div>
    </div>
</aside>