<footer>
    <div class="container">
        <div class="row">
            <b:section id='footer1' preferred='yes' showaddelement='yes'>
                <b:widget id='HTML1' locked='false' title='' type='HTML'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <!-- only display title if it's non-empty -->
                            <b:if cond='data:title != &quot;&quot;'>
                                <h2 class='title'><data:title/></h2>
                            </b:if>
                            <div class='widget-content'>
                                <data:content/>
                            </div>

                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
                <b:widget id='HTML2' locked='false' title='' type='HTML'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <!-- only display title if it's non-empty -->
                            <b:if cond='data:title != &quot;&quot;'>
                                <h2 class='title'><data:title/></h2>
                            </b:if>
                            <div class='widget-content'>
                                <data:content/>
                            </div>

                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
                <b:widget id='HTML3' locked='false' title='' type='HTML'>
                    <b:includable id='main'>
                        <div class="col-sm-4">
                            <!-- only display title if it's non-empty -->
                            <b:if cond='data:title != &quot;&quot;'>
                                <h2 class='title'><data:title/></h2>
                            </b:if>
                            <div class='widget-content'>
                                <data:content/>
                            </div>

                            <b:include name='quickedit'/>
                        </div>
                    </b:includable>
                </b:widget>
            </b:section>
        </div>
        <div class="row">
            <b:section id='footer2' preferred='yes' showaddelement='yes'>
                <b:widget id='HTML4' locked='false' title='' type='HTML'>
                    <b:includable id='main'>
                        <!-- only display title if it's non-empty -->
                        <b:if cond='data:title != &quot;&quot;'>
                            <h2 class='title'><data:title/></h2>
                        </b:if>
                        <div class='widget-content'>
                            <data:content/>
                        </div>

                        <b:include name='quickedit'/>
                    </b:includable>
                </b:widget>
            </b:section>
        </div>
    </div>
</footer>
