//
// fonts
//

body {
  font-family: @font-family-sans-serif;
  color: @text-color;
  background-color: @bg-color;
}

main {
  font-size: @font-size-less-large;
}

a {
  color: @link-color;

  &:hover,
  &:focus {
    color: @link-hover-color;
  }
}

a.img-link {
  display: block;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-weight: 700;
}

img,
span {
  &.img-tn,
  &.img-xs,
  &.img-sm,
  &.img-md {
    display: block;
  }
}

//
// button
//

.btn-aqua {
  .button-variant(@bg-color; @link-color; darken(@link-color, 5%));
}

//
// list
//

.badge {
  background-color: @mustard;
}

//
//
//

.embed-responsive-3by2 {
  padding-bottom: 66.67%
}
.embed-responsive-2by1 {
  padding-bottom: 50%
}

.Blog {
  .embed-responsive-item {
    background-size: cover;
    background-position: center center;
  }
  .list-group-item {
    .pull-left {
      @media (min-width: @screen-sm-min) {
        padding-right: 30px;
      }
    }
  }
  .list-group-item-text {
    @media (min-width: @screen-lg-min) {
    }
  }
  .list-group-item-thumbnail {
    width: 300px;
    @media (min-width: @screen-sm-min) {
      width: 360px;
    }
    @media (min-width: @screen-md-min) {
      width: 360px;
    }
    @media (min-width: @screen-lg-min) {
      width: 360px;
    }
  }
  a:hover {
    .embed-responsive-item {
      filter: brightness(120%);
    }
    .list-group-item-thumbnail {
      filter: brightness(120%);
    }
  }
  .col-link {
    color: @text-color;
    text-decoration: none;
    &:hover {
      color: @link-hover-color;
    }
  }
  .text-more {
    color: @gray-light;
    &:hover {
      color: @link-hover-color;
    }
  }
}
