//
// fonts
//

body {
  font-family: @font-family-sans-serif;
  color: @text-color;
  background-color: @bg-color;
}

//
// main
//

a {
  color: @link-color;

  &:hover,
  &:focus {
    color: @link-hover-color;
  }
}

a.img-link {
  display: block;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-weight: 700;
}

img,
span {
  &.img-tn,
  &.img-xs,
  &.img-sm,
  &.img-md {
    display: block;
  }
}

//
// button
//

.btn-aqua {
  .button-variant(@bg-color; @link-color; darken(@link-color, 5%));
}

//
// list
//

.badge {
  background-color: @mustard;
}

//
//
//

.embed-responsive-3by2 {
  padding-bottom: 66.67%
}
.embed-responsive-2by1 {
  padding-bottom: 50%
}

.Blog {
  .embed-responsive-item {
    background-size: cover;
    background-position: center center;
  }
  .text-more {
    color: #ccc;
  }
  .row-link {
    display: block;
    color: @text-color;
    text-decoration: none;

    &:hover,
    &:active {
      background-color: @list-group-hover-bg;
      .embed-responsive-item {
        filter: brightness(90%);
      }
    }
    &:visited {
      color: @gray;
    }
  }
  h2 {
    margin-top: (@line-height-computed / 2);
    font-family: @font-family-serif;
  }

  .posts {
    font-size: @font-size-less-large;

    hr:last-child {
      display: none;
    }
  }
  .row-nextprev {
    margin-top: 20px;
  }
}

//
// aside
//

aside {
  font-size: @font-size-less-large;
  a.panel-footer {
    display: block;
  }
  .collapse-label-show {
    display: none;
  }
  .collapsed {
    .collapse-label-show {
      display: inline;
    }
    .collapse-label-hide {
      display: none;
    }
  }
  :not(.panel) {

  }
  .panel {
    .collapse-group {
      > .list-group-item {
        &:first-child {
          border-top: 1px solid @list-group-border !important;
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
        }
      }
    }
  }
  :not(.panel) {
    > .list-group {
      > .collapse-group {
        > .list-group-item {
          &:first-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
      > .collapse-group:not(:last-child) {
        > .list-group-item {
          &:last-child {
            border-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }
  a.thumbnail {
    &:hover,
    &:active {
      text-decoration: none;
      background-color: @list-group-hover-bg;
    }
  }
  h2 {
    font-family: @font-family-serif;
    margin-top: 60px;
  }
}

.recent-comment-date {
  margin: 3px 0 0;
}

.recent-comment-author {
  font-size: @font-size-base;
}

.recent-comment-text {
  border-radius: 8px;
}


//
// lunch map image
//

.lunch {
  background-image: url(../images/l/lunch-sm.jpg);
  background-size: cover;
  background-position: center center;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/l/lunch-sm-2x.jpg);
    // background-size: @width-sm 220px;
  }

  @media only screen and (min-width: @screen-md-min) {
    background-image: url(../images/l/lunch-md.jpg);

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min--moz-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/l/lunch-md-2x.jpg);
    }
  }

  @media only screen and (min-width: @screen-lg-min) {
    background-image: url(../images/l/lunch-lg.jpg);

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min--moz-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/l/lunch-lg-2x.jpg);
    }
  }
}
