//
// fonts
//

body {
  font-family: @font-family-sans-serif;
  color: @text-color;
  background-color: @bg-color;
}

main {
  font-size: @font-size-less-large;
}

a {
  color: @link-color;

  &:hover,
  &:focus {
    color: @link-hover-color;
  }
}

a.img-link {
  display: block;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-weight: 700;
}

img,
span {
  &.img-tn,
  &.img-xs,
  &.img-sm,
  &.img-md {
    display: block;
  }
}

//
// button
//

.btn-aqua {
  .button-variant(@bg-color; @link-color; darken(@link-color, 5%));
}

//
// list
//

.badge {
  background-color: @mustard;
}

//
//
//

.embed-responsive-3by2 {
  padding-bottom: 66.67%
}
.embed-responsive-2by1 {
  padding-bottom: 50%
}

.Blog {
  .embed-responsive-item {
    background-size: cover;
    background-position: center center;
  }
  .row-link {
    display: block;
    color: @text-color;
    text-decoration: none;

    &:hover {
      // color: @link-hover-color;
      background-color: @list-group-hover-bg;
    }
  }
  .row-link:hover {
    .embed-responsive-item {
      filter: brightness(90%);
    }
  }
  h2 {
    margin-top: (@line-height-computed / 2);
    font-family: @font-family-serif;
  }
}
