body {
  padding-bottom: 0;
}

.section {
    margin: 0;
}

.widget {
  margin: 0;
  line-height: inherit;
  position: inherit;
  min-height: inherit;
}

body .navbar {
  height: inherit;
}

.post-header,
.post-footer {
  line-height: inherit;
}

.widget li, .BlogArchive #ArchiveList ul.flat li {
  padding: 0;
}
